

#menu { width: 100%; text-align: center; text-decoration: none; text-transform: uppercase; }

#name { width: 100%; text-align: center; text-decoration: none; text-size: 64pt; }

#body { text-align: left-side; margin-left: 15%; }

h5 	{text-size: 64pt; text-transform: uppercase;	}